/*
font-family: 'PT Sans Caption', sans-serif;
*/

html,
body {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-width: 282px;
}

img {
  display: inline;
}

a {
  transition: 0.3s ease-out;
}

* {
  box-sizing: border-box;
}

/* ..............................HEADER.............................. */

header {
  color: #ffffff;
  background-color: #4f6d83;
  background-image: url("../img/bg/bg-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;
  min-height: 400px;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
}

.header-title {
  font-size: 56px;
  line-height: 62px;
  margin-bottom: 30px;
  font-family: 'Merriweather';
  margin-top: -50px;
}

.header-description {
  font-size: 28px;
  line-height: 42px;
}

.header-icon {
  font-size: 48px;
  width: 60px;
  height: 50px;
  margin-left: -30px;

  position: absolute;
  bottom: 50px;
  left: 50%;
}

/* ...............................//HEADER.............................. */


/* ..............................PORTFOLIO.............................. */

/*"x4-column" class name is chosen because of
  psd-layout's content which is divided into 12 columns.
  4 out of 12 keep 1 unit of content in itself
  */

/* ..........GRID.......... */

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.row:after {
  /* to clear floating from left&right sides */
  clear: both;
  content: "";
  display: table; /* for old browsers */
}

.x4-column {
  width: 360px; /*according to layout grids*/
  margin-right: 30px;
  float: left;
}

.x4-column:last-child {
  margin-right: 0px;
}

/* .........//GRID......... */

.title {
  font-size: 46px;
  margin-bottom: 60px;
  font-family: 'Merriweather';
  text-align: center;
}

.portfolio-item_img {
  margin-bottom: 17px;
}

.portfolio-item_img img {
  max-width: 100%;
  height: auto;
}

.portfolio-item_title {
  font-size: 24px;
  line-height: normal;
  margin-bottom: 5px;
}


/* .............................//PORTFOLIO............................. */

.portfolio {
  padding-top: 70px;
  padding-bottom: 100px;
}

.portfolio-item {
  margin-bottom: 20px;
}

.portfolio-item_title a {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #ffffff;
}

.portfolio-item_title a:hover {
  color: #0052C2;
  border-color: rgb(0, 82, 194, 0.3)
}

.portfolio-item_description p {
  margin-top: 0px;
  margin-bottom: 15px;
}


/* ..............................FOOTER.............................. */

footer {
  background-color: #061634;
  color: #6479a2;
  padding-top: 90px;
  padding-bottom: 190px;
}

footer p {
  margin-top: 0px;
  margin-bottom: 15px;
}

p.footer-title {
  font-size: 28px;
  margin-bottom: 10px;
  line-height: normal;
  font-family: 'Merriweather';
}

p.footer-social {
  color: #ffffff;
}

p.footer-social-icons {
  color: #ffffff;
  font-size: 32px;
}

p.footer-social-icons a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
}

p.footer-social-icons a:last-child {
  margin-right: 0px;
}

p.footer-social-icons a:hover {
  color: #ffe400;
}

.button {
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.6px;

  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 23px;
  padding-right: 23px;
  margin-bottom: 13px;

  border: 2px solid #ffffff;
  border-radius: 50px;

}

.button:hover {
  background-color: #ffffff;
  color: #061634;
}
/* .............................//FOOTER............................. */


/* ...............................MEDIA............................. */

@media (max-width: 1160px) {

  header {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  footer {
      padding-top: 70px;
      padding-bottom: 60px;
  }

  .container {
    width: 100%;
  }

  .x4-column {
    width: 100%;
    margin: 0px;
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    
  }

  .header-title {
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 15px;
  }

  .header-description {
    font-size: 22px;
    line-height: 38px;
  }

  .portfolio {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .title {
    font-size: 36px;
  }

  
}